@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: black;
}

.main-background {
  background-image: url('../public/background.png');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 758px) {
  .browse-background {
    background-image: url('../public/jordan.jpg');
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
